@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 20px;
}

body{
    background-color: black;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, .9)), url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.headerTop {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}

.navTool select,
.navTool button {
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-size: .6rem;
    border-radius: 8px;
    padding: 8px 10px;
}

.navTool button {
    border: 2px solid red;
    background-color: red;
}

.headerTop img {
    height: 90px;
}

.headerMiddle {
    max-width: 600px;
    width: 60vw;
    height: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    line-height: 1.3;
}

.headerMiddle h2 {
    font-size: .7rem;
}

.headerEnd {
    width: 100%;
    height: auto;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerEnd form {
    display: flex;
    gap: 10px;
}

.headerEnd label {
    font-size: .7rem;
}

.headerEnd form input {
    background-color: rgba(129, 129, 129, .65);
    border: 1px solid rgba(255, 255, 255, .4);
    max-width: 400px;
    width: 50vw;
    height: 8vh;
    padding: 12px;
    font-size: .8em;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(194, 194, 194);
}

.headerEnd form button {
    background-color: red;
    border: none;
    color: white;
    max-width: 200px;
    width: 20vw;
    height: 8vh;
    padding: 4px;
    font-size: .8em;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.headerEnd button img {
    height: 17px;
}


.transitionToMiddleScreen {
    height: 30vh;
    width: 100%;
    position: relative;
    isolation: isolate;
    z-index: 10;
    bottom: 14.7vh;
    background-color: rgb(249, 38, 38);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.transitionToMiddleScreen::after {
    content: "";
    height: 30vh;
    width: 100%;
    z-index: 0;
    bottom: -1vh;
    position: absolute;
    background-color: black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.trendingShow{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.trendingShow h3{
    align-self: flex-start;
    font-size: 40px;
    padding-left: 17%;
    margin-bottom: 15px;
}

.shows{
    max-width: 95%; 
    display: flex;
    gap: 4vw;
}

.shows img{
    position: relative;
    border-radius: 10px;
    height: 300px;
}

.showCard1::before{
    content: "1";
    position:absolute;
    z-index: 1 ;
    margin-top: 5%;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 8rem;
}

.showCard2::before{
    content: "2";
    position:absolute;
    z-index: 1 ;
    margin-top: 5%;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 8rem;
}

.showCard3::before{
    content: "3";
    position:absolute;
    z-index: 1 ;
    margin-top: 5%;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 8rem;
}

.showCard4::before{
    content: "4";
    position:absolute;
    z-index: 1 ;
    margin-top: 5%;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 8rem;
}

.reasonToJoin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reasonToJoin h4{
    color: white;
    align-self: flex-start;
    font-size: 1.6rem;
    margin-top: 20vh;
    margin-left: 7%;
    margin-bottom: 10px;
}

.allReasons{
    display: flex;
}

.reasons{
    color: white;
    height: 32vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
    padding: 30px;
    border-radius: 10px;
    background:linear-gradient(150deg,rgba(134, 0, 243, 0.3),rgba(239, 40, 239, 0.4),rgba(255, 117, 117, 0.2))
}

.reasons h5{
    font-size: .9rem;
}

.reasons p{
    font-size: .75rem;
}

.reasons img{
    align-self:flex-end;
    height: 40px;
}

@media (max-width: 700px) {

    .navTool select,
    .navTool button {
        font-size: .4rem;
        border-radius: 8px;
        padding: 5px 10px;
    }

    .headerMiddle {
        font-size: .8rem;
    }

    .headerMiddle h2 {
        font-size: .5rem;
    }

    .headerEnd label {
        padding: 0px 60px;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .headerEnd form input {
        width: 50vw;
        height: 6vh;
        padding: 12px;
        font-size: .5em;
        border-radius: 5px;
    }

    .headerEnd form button {
        height: 6vh;
        width: 70px;
        font-size: .4em;
        border-radius: 5px;
    }

    .headerEnd button img {
        height: 10px;
    }

    .shows{
        gap: 2px;
    }
    .shows img{
        height: 110px;   
        border-radius: 5px;
    }

    .trendingShow h3{
        font-size: 20px;
        margin-bottom: 8px;
        padding-left: 6%;
    }

    .showCard1::before{
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .showCard2::before{
        margin-top: 10%;
        font-size: 2.5rem;
    }
    
    .showCard3::before{
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .showCard4::before{
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .allReasons{
        flex-direction: column;
    }

    .reasons{
        height: 30vh;
        width: 60vw;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 30px;
        font-size: .5rem;
        border-radius: 10px;
    }

    .reasonToJoin h4{
        font-size: .6rem;
        margin-top: 20vh;
        margin-left: 70px;
        margin-bottom: 10px;
    }

    .reasons h5{
        font-size: .62rem;
    }
    .reasons p{
        font-size: .45rem;
    }

    .reasons img{
        height: 24px;
    }
}