*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(170, 95, 240);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

h1{
    padding: 20px;
    font-size: 1.7rem;
    border: 2px solid whitesmoke;
    background: radial-gradient(rgb(124, 8, 233) 70%,whitesmoke);
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

h1:hover{
    transform: translateY(-5px) scale(1.1);
    box-shadow: 5px 5px 7px 2px rgb(142, 70, 235) ;
}