:root{
    --blue : rgb(99, 99, 244);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 201, 242);
}

.card{
    height: 500px;
    width: 400px;
    border:2.5px solid var(--blue);
    border-radius: 20px;
    background-color: azure;
    overflow: hidden;
}

.imageContainer{
    background-color: var(--blue);
    width: 100%;
    height: 30%;
}

.profileimg{
    width: 160px;
    height: 160px;
    border: 3px solid var(--blue);
    border-radius: 200px;
    position: relative;
    top: 40px;
    object-fit: cover;
    margin: 0px auto;
}

.profileimg img{
    width: 100%;
    height: 100%;
    border: 3px solid whitesmoke;
    border-radius: 200px;
    position: relative;
    transition: transform .2s ease;
}

.name{
    font-size: 10px;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    line-height: 25px;
        opacity: .7;
}

.socialMedia{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socialMedia img{
    height: 35px;
    margin-top: 25px;
    transition: transform .2s ease;
}

.button{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.button button{
    margin-top: 26px;
    height: 40px;
    width: 90px;
    color: aliceblue;
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    transition: transform .3s ease, background-color .3s ease;
}

.engagement{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 5%;
}

.engagement img{
    height: 20px;
}

.engagement span{
    opacity: .7;
}

.engagement .box{
    transition: transform 0.2s ease;
}

.engagement > .seperator{
    color: rgb(213, 213, 213);
    font-size: 20px;
}

.button button:hover{
    background-color: rgb(64, 64, 243);
    transform: scale(1.1);
}

.socialMedia img:hover{
    transform: translateY(-5px) scale(1.2);

}

.engagement .box:hover{
    transform: scale(1.1);
}

.profileimg img:hover{
    transform: scale(1.05);
}

